$light: #f8f8f8;
$red: #841A10;
$dark-red: #790F05;
$very-dark-red: #6A0A0A;
$light-black: #202020;
$light-black2: #252525;
$light-black3: #2b2b2b;
$black: #000;
$white: #fff;
$white2: #f9f7f4;
$dark-white: #FBF9F7;
$light-gray: #b3b3b3;
$light-gray2: #858585;
$light-gray3: #7d7a78;
$light-gray4: #6b6b6b;
$gray: #675F5B;